<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>编辑书籍</title>
</head>
<style>
    #back{
        position:absolute;
        left:525px;
        top:75px;
    }

    #tbody{
        position:absolute;
        left:525px;
        top:100px;
    }

    #ton {
        position:absolute;
        left:105px;
        top:175px;
    }

    #logout{
        position:absolute;
        left:1100px;
    }
</style>
<body>
<button id="logout">注销</button>
<button id="back">返回</button>
<div id="tbody">
    <form id="myForm">
        <div class="form-group">
            书籍名称:<input type="text" id="bookName" name="bookName">
        </div>
        <div class="form-group">
            书籍作者:<input type="text" id="bookAuthor" name="bookAuthor">
        </div>
        <div class="form-group">
            书籍出版社:<input type="text" id="publisher" name="publisher">
        </div>
        <div class="form-group">
            书籍价钱:<input type="number" id="bookPrice" name="bookPrice" min="0.00">
        </div>
        <div class="form-group">
            上次借书时间:<input type="date" id="lendingTime" name="lendingTime">
        </div>
        <div class="form-group">
            上次还书时间:<input type="date" id="returnTime" name="returnTime">
        </div>
        <div class="form-group">
            书籍状态:<select type="text" id="state" name="state">
                        <option>已借出</option>
                        <option>可借出</option>
                    </select>
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-primary mb-2" id="ton">信息更新</button>
        </div>
    </form>
</div>
</body>
<script src="/js/jquery.min1.js"></script>
<script>
    $(function () {
        $.ajax({
            url:"getLibraryId",
            type:"get",
            data:{
                id: getQueryVariable("id")
            },
            success:function (res) {
                var data = res[0]
                $("#bookName").val(data.bookName);
                $("#bookAuthor").val(data.bookAuthor);
                $("#publisher").val(data.publisher);
                $("#bookPrice").val(data.bookPrice);
                $("#lendingTime").val(data.lendingTime);
                $("#returnTime").val(data.returnTime);
                $("#state").val(data.state);
            }
        })
    })

    function getQueryVariable(variable)
    {
        var query = window.location.search.substring(1);
        var vars = query.split("&");
        for (var i=0;i<vars.length;i++) {
            var pair = vars[i].split("=");
            if(pair[0] == variable){return pair[1];}
        }
        return(false);
    }


    $("#back").click(function () {
        location.href = "/library"
    })

    $("#logout").click(function () {
        var r = confirm("确定注销此账号吗？");
        if (r == true) {
            location.href = "/index"
        }
    })

    $("#ton").click(function () {
        var r = confirm("确定更新这个商品的数据吗？");
        if (r == true) {
            $.ajax({
                url: "/updateLibrary",
                type: "post",
                data: {
                    id:getQueryVariable("id"),
                    bookName:$("#bookName").val(),
                    bookAuthor:$("#bookAuthor").val(),
                    publisher:$("#publisher").val(),
                    bookPrice:$("#bookPrice").val(),
                    lendingTime:$("#lendingTime").val(),
                    returnTime:$("#returnTime").val(),
                    state:$("#state").val(),
                },
                success:function (data) {
                    if (data == "该书已成功更新信息!"){
                        alert(data)
                        location.href="/library"
                    }else {
                        alert(data)
                    }
                }                
            })
        }
    })
</script>
</html>